<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="DashBoard.aspx.cs" Inherits="WebApplication5.DashBoard" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:Label ID="Label1" runat="server" Text="Hello Admin"></asp:Label>
            <asp:Button ID="Button1" runat="server" Text="Logout" OnClick="Button1_Click" style="margin-left: 1192px" />
        </div>
    </form>
    
</body>
</html>
